doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Del&iacute;cias da Nane
  link(rel='stylesheet' href='css/reset.css')
  link(rel='stylesheet' href='css/home.css')
  link(rel='stylesheet' href='css/delicias.css')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
  link(rel='stylesheet' href='css/bootstrap.min.css')
  link(rel='stylesheet' href='css/mdb.min.css')
  link(rel='stylesheet' href='css/style.css')


  
header.transition
  .navegacao
    ul.menu.clearfix
      li
        a(href='/') home
      li
        a(href='/delicias') delicias
        // Nível 1
        // submenu
        ul.sub-menu.clearfix
          li
            a(href='/corte') Bolos de Corte
          li
            a(href='#') Bolos de Pote
            // Nível 2
            // submenu do submenu
            ul.sub-menu
              li
                a(href='#') Tradicionais
                // Nível 3
                // submenu do submenu do submenu
                ul.sub-menu
                  li
                    a(href='/beijinho') beijinho
                  li
                    a(href='/brigadeiro') Brigadeiro
                  li
                    a(href='/churros') churros
                  li
                    a(href='/danette') danette
                  li
                    a(href='limao') lim&atilde;o
                  li
                    a(href='limaoBrigadeiro') lim&atilde;o c/ brigadeiro
                  li
                    a(href='maracuja') maracuj&aacute;
                  li
                    a(href='pacoca') pa&ccedil;oca
                  li
                    a(href='pacocaBrigadeiro') pa&ccedil;oca c/ brigadeiro
                  li
                    a(href='/prestigio') prest&iacute;gio
                // submenu do submenu do submenu
              li
                a(href='#') Premium
                // Nível 3
                // submenu do submenu do submenu
                ul.sub-menu
                  li
                    a(href='/abacaxiCoco') Abacaxi c/ coco
                  li
                    a(href='/banana') banana caramelada
                  li
                    a(href='/floresta') floresta negra
                  li
                    a(href='/maracujaChantilly') maracuj&aacute; c/ chantilly
                  li
                    a(href='/morangoNutella') morango c/ nutella
                  li
                    a(href='/ninhoMorango') ninho c/ morango
                  li
                    a(href='/ninhoNutella') ninho c/ nutella
                  li
                    a(href='/nutellaMMs') nutella c/ m&amp;ms
                  li
                    a(href='/oreo') oreo
                  li
                    a(href='/ovomaltine') ovomaltine
                // submenu do submenu do submenu
            // submenu do submenu
          li
            a(href='/cupcakes') cupcakes
          li
            a(href='/docinhos') docinhos
        // submenu
      li
        a(href='/#sobre') sobre
      li
        a(href='/#contato') contato
  .logo
    figure
      img(src='imagens/Logo.png' alt='Logo Delícias da Nane')
  section.busca
    .text-center
      a.btn.purple-gradient.btn-rounded(href='' data-toggle='modal' data-target='#elegantModalForm') login
    form.form-inline
      input.form-control.mr-sm-2(type='search' placeholder='Pesquisar' aria-label='Pesquisar')
      button.btn.btn-outline-info(type='submit') Pesquisar
#home.corpo
  #tituloProdutos
    h2
      b Nossos Produtos
    h4 Del&iacute;cias da Nane
    p Navegue nesta p&aacute;gina e conhe&ccedil;a todos os nossos produtos.
  .novidades
    #carouselExampleFade.carousel.slide.carousel-fade(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.mx-auto.w-100(src='imagens/Wallpapers/52c9021048532ae3b840b179291d5ba9.jpg' alt='Primeiro Slide')
        .carousel-item
          img.d-block.mx-auto.w-100(src='imagens/Wallpapers/8df4f3a2ee9b735b41545842e89db33a.jpg' alt='Segundo Slide')
        .carousel-item
          img.d-block.mx-auto.w-100(src='imagens/Wallpapers/99675bd4d5c1bb64c4466e183d223db1.jpg' alt='Terceiro Slide')
      a.carousel-control-prev(href='#carouselExampleFade' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Anterior
      a.carousel-control-next(href='#carouselExampleFade' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Pr&oacute;ximo
  .destaques
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/bolos/Morango-Nutella.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Morango c/ Nutella
        p.card-text Um dos mais queridos do Brasil
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/bolos/banana.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Banana Caramelada
        p.card-text Sabor marcante, doce mas sem exageros
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/bolos/limao.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Lim&atilde;o
        p.card-text Um exemplo de que tudo pode ser uma del&iacute;cia
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/bolos/prestigio.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Prestigio
        p.card-text Com peda&ccedil;os de c&ocirc;co de verdade e um recheio irresist&iacute;vel.
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/bolos/prestigio.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Prestigio
        p.card-text Com peda&ccedil;os de c&ocirc;co de verdade e um recheio irresist&iacute;vel.
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/bolos/Morango-Nutella.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Morango c/ Nutella
        p.card-text Um dos mais queridos do Brasil
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/bolos/banana.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Banana Caramelada
        p.card-text Sabor marcante, doce mas sem exageros
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/boloslimao.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Lim&atilde;o
        p.card-text Um exemplo de que tudo pode ser uma del&iacute;cia
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
    .card(style='width: 18rem;')
      img.card-img-top(src='imagens/bolos/Morango-Nutella.jpg' alt='Imagem de capa do card')
      .card-body
        h5.card-title Morango c/ Nutella
        p.card-text Um dos mais queridos do Brasil
        a.btn.btn-outline-secondary(href='/produtos') Detalhes
// INÍCIO CÓDIGO FOOTER
include footer.pug

script(src='js/jquery-3.4.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/popper.js')
script(src='js/mdb.min.js')
script(src='js/script-produtos.js')


