footer.page-footer.font-small.pt-4
  // Footer Elements
  .container
    // Grid row
    .row
      // Grid column
      .col-md-6.mb-4
        // Form
        form.form-inline
          input.form-control.form-control-sm.mr-3.w-75(type='text' placeholder='Pesquisa' aria-label='Search')
          i.fas.fa-search(aria-hidden='true')
        // Form
      // Grid column
      // Grid column
      .col-md-6.mb-4
        form.input-group()
          input.form-control.form-control-sm(type='text' name="email" placeholder='Seu e-mail' aria-label='Your email' aria-describedby='basic-addon2')
          .input-group-append
            button.btn.btn-sm.btn-outline-white.my-0(onclick='mostrar()' type='submit') Assinar

      // Grid column
    // Grid row
    // Grid row
    .row
      // Grid column
      .col-md-12
        .mb-5.flex-center
          // Facebook
          a.fb-ic
            i.fab.fa-facebook-f.fa-lg.blue-text.mr-md-5.mr-3.fa-2x  
          // Twitter
          a.tw-ic
            i.fab.fa-twitter.fa-lg.cyan-text.mr-md-5.mr-3.fa-2x  
          // Linkedin
          a.li-ic
            i.fab.fa-linkedin-in.fa-lg.blue-text.mr-md-5.mr-3.fa-2x  
          // Instagram
          a.ins-ic
            i.fab.fa-instagram.fa-lg.purple-text.mr-md-5.mr-3.fa-2x  
      // Grid column
    // Grid row
  // Footer Elements

